<!--<div class="login-container bg-light">-->
<!--<div class="login-box">-->
<!--<h1 translate>APP_NAME</h1>-->
<!--<div>-->
<!--<h6 class="d-inline-block">v{{version}}</h6>-->
<!--<div class="d-inline-block ml-3" ngbDropdown>-->
<!--<button id="language-dropdown" class="btn btn-sm btn-secondary" ngbDropdownToggle>-->
<!--{{currentLanguage}}-->
<!--</button>-->
<!--<div ngbDropdownMenu aria-labelledby="language-dropdown">-->
<!--<button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">-->
<!--{{language}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="card col-md-6 mt-3 mx-auto">-->
<!--<div class="card-body">-->
<!--<h4 class="card-title text-center">-->
<!--<i class="fa fa-3x fa-user-circle-o text-muted"></i>-->
<!--</h4>-->
<!--<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>-->
<!--<div class="alert alert-danger" [hidden]="!error || isLoading" translate>-->
<!--Username or password incorrect.-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="d-block">-->
<!--<input type="text" class="form-control" formControlName="username"-->
<!--[placeholder]="'Username' | translate"/>-->
<!--<span hidden translate>Username</span>-->
<!--<small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"-->
<!--class="text-danger" translate>-->
<!--Username is required-->
<!--</small>-->
<!--</label>-->
<!--<label class="d-block">-->
<!--<input type="password" class="form-control" formControlName="password"-->
<!--[placeholder]="'Password' | translate" required/>-->
<!--<span hidden translate>Password</span>-->
<!--<small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"-->
<!--class="text-danger" translate>-->
<!--Password is required-->
<!--</small>-->
<!--</label>-->
<!--<label class="form-check-label">-->
<!--<input type="checkbox" class="form-check-input" formControlName="remember"/>-->
<!--<span translate>Remember me</span>-->
<!--</label>-->
<!--</div>-->
<!--<button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">-->
<!--<i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>-->
<!--<span translate>Login</span>-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div>
  <div >
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand pull-right" href="https://twitter.com/amit_merchant">Twitter</a>
          <a class="navbar-brand" href="#">Markdownify</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Markdownify</h1>
        <div>
          <p>
            <i class="tagline">A minimal Markdown editor</i>
          </p>
        </div>
        <div>
          <a href="https://github.com/amitmerchant1990/electron-markdownify/releases/tag/v1.2.0" class="btn btn-primary btn-lg">Download</a>
          <a href="https://github.com/amitmerchant1990/electron-markdownify/" class="btn btn-danger btn-lg">GitHub</a>
        </div>
      </div>
      <div class="text-center">
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <h2 class="key_features">Key Features</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>LivePreview</h3>
          <p> <b>Make changes, See changes</b>. Instantly see what your Markdown documents look like in HTML as you create them. </p>
        </div>
        <div class="col-md-4">
          <h3>Sync Scrolling</h3>
          <p>While you type, <b>LivePreview</b> will automatically scroll to the current location you're editing. </p>
        </div>
        <div class="col-md-4">
          <h3>GFM</h3>
          <p>The good old <b>GitHub Flavored-style</b> Markdown. So, you don't feel out of the place.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>Syntax highlighting</h3>
          <p> Syntax highlighting in fenced code blocks with language identifiers and Markup languages  </p>
        </div>
        <div class="col-md-4">
          <h3>Dark/Light mode</h3>
          <p>Change the color scheme of the editor based on your preferences. i.e to choose between Dark mode/Light mode </p>
        </div>
        <div class="col-md-4">
          <h3>Emoji support</h3>
          <p>Supports emojis in the preview mode for when you need to express yourself via one</p>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row text-center">
        <div>
          <h4>Other features including...</h4>
          <ul class="center" type="square">
            <li>Toolbar for basic Markdown formatting</li>
            <li>Save the Markdown preview as PDF</li>
            <li>App will keep alive in tray for quick usage</li>
            <li>Full screen mode</li>
            <ul>
              <li>Write distraction free.</li>
            </ul>
            <li>Cross platform</li>
            <ul>
              <li>Windows, Mac and Linux ready.</li>
            </ul>
          </ul>
        </div>

      </div>
    </div>

    <hr>

    <div class="container">
      <div class="text-center">
        <h2 class="key_features">Develop</h2>
      </div>
      <div>
        <p>Install it using : <code>npm install electron-markdownify</code></p>
        <p>And then run:</p>
      </div>
      <div>
            <pre>
              <code class="bash">
$> cd PATH-TO-MARKDOWNIFY-DESKTOP-APP
$> npm install && npm start
              </code>
            </pre>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row text-center credits">
        <div>
          <h2 class="key_features">Credits</h2>
          <p>Markdowinfy is built using <a href="http://electron.atom.io/">Electron</a>, <a href="https://nodejs.org/">Node.js</a> and some <a href="https://github.com/amitmerchant1990/electron-markdownify#credits">more</a>.</p>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <p class="text-center">© 2016 <a href="https://www.amitmerchant.com/">Amit Merchant</a>.</p>
    </footer>
    </body>
  </div>
</div>
