<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img style="width:100%">
        <div class="container">
          <h4><b>{{user?.username}}</b></h4>
          <p>{{user?.emailAddress}}</p>
          <p>{{user?.userId}}</p>
        </div>
      </div>

      <br/>

      <div class="card">
      <pre>shortlist:
<div *ngFor="let job of shortlist">
<a href="/jobs/{{job.jobId}}">{{job.jobId}}</a>
</div>
</pre>
      </div>

      <br/>

      <div class="card">
      <pre>applications:
<div *ngFor="let job of applications">
<a href="/jobs/{{job.jobId}}">{{job.jobId}}</a>
</div>
</pre>
      </div>
    </div>
  </div>
</div>
