/* fit to screen */
html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  /*background: #FFFFFF;*/
  /*color: #FFFFFF;*/
  position: relative;
  margin-bottom: 135px;
}

#header {
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  /* TODO: figure out why background doens't work */
  /*background: #F8F8F8;*/
  position: fixed;
}

#footer {
  height: 100px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: #F8F8F8;
  position: fixed;
  padding-top: 1px;
  border-top: 2px solid hsl(0, 0%, 87%);
}
/* end fit to screen */
