<ng-progress [positionUsing]="'marginLeft'"
             [minimum]="0.15"
             [maximum]="1"
             [speed]="200"
             [showSpinner]="true"
             [direction]="'leftToRightIncreased'"
             [color]="'blue'"
             [trickleSpeed]="250"
             [thick]="true"
             [ease]="'linear'">
</ng-progress>

<div class="container">


  <div class="row">
  <div class="col-4">
    <div>
      <label>Title: </label>
      <input #searchBox id="search-box" />
    </div>
  </div>
  <div class="col-3">
  </div>
  <div class="col-2 text-right">
    <div>
      <button (click)="search(searchBox.value)">
        Search
      </button>
    </div>
  </div>
  </div>

  <ngx-datatable
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [limit]="10"
    [rowHeight]="'auto'">

    <div class="card-deck">
      <ngx-datatable-column>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div id="job" class="card" style="width: 20rem; cursor: pointer;" (click)="viewJobDetails(row.jobId)">
            <div style="align: center">
              <img *ngIf="row.companyLogo" style="float: left; padding-top: 15px; padding-left: 20px" width="35%"
                   height="35%" src="{{row.companyLogo}}">
            </div>
            <div class="card-body">
              <div>
                <h6 class="card-title">
                  <a href="jobs/{{row.jobId}}">
                    <strong>{{row.title}}</strong>
                  </a>
                </h6>
                <div>
                  <h6 class="card-subtitle mb-2 text-muted">{{row.company}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{row.location}}</h6>
                  <hr/>
                  <h6 class="card-subtitle mb-2 text-muted">{{row.createdTimestamp | timeAgo}}</h6>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </ng-template>
      </ngx-datatable-column>
    </div>
  </ngx-datatable>
</div>

