<table st-table="rowCollection" st-safe-src="rowList" class="table table-striped">
  <tr>
    <!-- TODO: add dropdown, filter by location etc -->
    <th colspan="10"><input st-search="" class="form-control" placeholder="Search Company, Job Title, or Skills..." type="text"/></th>
  </tr>
  <thead>
  <tr>
    <th></th>
    <th st-sort="title" class="st-sort-ascent">Title</th>
    <th st-sort="location" class="st-sort-ascent">Location</th>
    <th st-sort="employername" class="st-sort-ascent">Company</th>
    <th st-sort="type" class="st-sort-ascent">Type</th>
    <th >Description</th>
    <th>Status</th>
    <th>Apply</th>
    <th>Openings</th>
    <th>Applications</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">

    <!-- TODO: load icon -->
    <td><i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
    </td>
    <td>
      <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-sm"><h7>{{row.title}}</h7></a>
    </td>
    <td>{{row.location}}</td>
    <td>{{row.employername}}</td>
    <td>Full-Time</td>
    <td>{{row.description_9 | limitTo: 100}}{{row.description_9.length > 100 ? '...' : ''}}</td>
    <td><span class="label label-warning">Pending</span></td>
    <td><a data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">Apply</a></td>
    <td style="text-align: center"><h1>0</h1></td>
    <td style="text-align: center"><h1>0</h1></td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Software Engineer</h4>

        <!-- TODO: implement shortlist -->
        <style>
          .custom {
            color: #7f8c8d;
            opacity: 0.7;
          }

          .custom:active {
            color: red
          }
        </style>
        <!-- TODO: implement share button -->
        <td><a class="btn btn-primary btn-sm">Share</a></td>
        <button class="custom">
          <span class="glyphicon glyphicon-heart"></span>
        </button>
      </div>

      <div class="modal-body">
        <!-- TODO: description -->
        TODO
        <!--<div>-->
          <!--<p><strong>Location:</strong>-->
            <!--Kirkland WA</p>-->

          <!--<p><strong>Industry:</strong> Computer Software-->
            <!--<br><strong>Occupational Category:</strong> 15-1132.00 Software Developers, Application-->
            <!--<br><strong>Hours:</strong> Full-time, 40 hours per week-->
            <!--<br><strong>Salary:</strong> USD 100000-->
          <!--</p>-->

          <!--<p>-->
            <!--<strong>Description:</strong> ABC Company Inc.-->
            <!--seeks a full-time mid-level software engineer to develop in-house tools.-->
          <!--</p>-->

          <!--<p><strong>Responsibilities:</strong></p>-->
          <!--<ul>-->
            <!--<li>Design and write specifications for tools for in-house customers</li>-->
            <!--<li>Build tools according to specifications</li>-->
          <!--</ul>-->
          <!--<p><strong>Educational requirements:</strong></p>-->
          <!--<ul>-->
            <!--<li>Bachelor's Degree in Computer Science, Information Systems or related fields of study.</li>-->
          <!--</ul>-->
          <!--<p><strong>Experience requirements:</strong></p>-->
          <!--<ul>-->
            <!--<li>Minumum 3 years experience as a software engineer</li>-->
          <!--</ul>-->
          <!--<p><strong>Desired Skills:</strong></p>-->
          <!--<ul>-->
            <!--<li>Web application development using Java/J2EE</li>-->
            <!--<li>Web application development using Python or familiarity with dynamic programming languages</li>-->
          <!--</ul>-->
          <!--<p><strong>Qualifications:</strong></p>-->
          <!--<ul>-->
            <!--<li>Ability to work in a team environment with members of varying skill levels.</li>-->
            <!--<li>Highly motivated.</li>-->
            <!--<li>Learns quickly.</li>-->
          <!--</ul>-->
          <!--<p><strong>Benefits:</strong></p>-->
          <!--<ul>-->
            <!--<li>ABC Corp provides top-tier employee compensation benefits and a relaxed, team-oriented work-->
              <!--environment,-->
              <!--including: Medical, Life, Dental-->
            <!--</li>-->
          <!--</ul>-->
          <!--<p><strong>Incentives:</strong></p>-->
          <!--<ul>-->
            <!--<li>Performance-based annual bonus plan, project-completion bonuses</li>-->
          <!--</ul>-->
          <!--<p>If interested in this position, please email us your resume, along with salary requirements and a cover-->
            <!--letter to-->
            <!--Jobs@abc.123.</p>-->

          <!--<p>Date Posted: 2011-10-31</p>-->
        <!--</div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</div>
