<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Students</h2>
        <p class="card-text">
          <a href="#/students" class="btn btn-primary">
            <strong>
              <i class="fa fa-user fa-5x" style="font-size: 50px" aria-hidden="true"></i> {{jobmine.students}}
            </strong>
          </a>
        </p>
      </div>
      <div class="card-footer" align="center">
        <button>Login</button>
        <a href="#/student/register"><button>Register</button></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Schools</h2>
        <p class="card-text">
          <a href="#/schools" class="btn btn-primary">
            <strong>
              <i class="fa fa-graduation-cap fa-5x" style="font-size: 50px"
                 aria-hidden="true"></i> {{jobmine.schools}}
            </strong>
          </a>
        </p>
      </div>
      <div class="card-footer" align="center">
        <a href="#/school/register"><button>Register</button></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Companies</h2>
        <p class="card-text">
          <a href="#/companies" class="btn btn-primary">
            <strong>
              <i class="fa fa-building fa-5x" style="font-size: 50px"
                 aria-hidden="true"></i> {{jobmine.companies}}
            </strong>
          </a>
        </p>
      </div>
      <div class="card-footer" align="center">
        <a href="#/company/register"><button>Register</button></a>
      </div>
    </div>
  </div>
</div>
