<img height="200px" width="200px" src="images/Nike.jpg" alt="ugh.. just do it already" class="img-circle">

<div class="container">
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input type="text" class="form-control" placeholder="Job Title, Skills or Company">
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <input type="text" class="form-control" placeholder="Location">

        <button type="submit" class="btn btn-default">Search</button>

      </div>
    </form>
  </div>
</div>

<!--<blockquote>-->
<!--<p>Available 24/7!</p>-->
<!--<footer><cite title="Source Title">The JobMine team</cite></footer>-->
<!--</blockquote>-->
