  <form class="form-horizontal" role="form">

    <div class="form-group">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <input type="text" class="form-control" placeholder="Job Title, Skills or Company">
      <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
      <input type="text" class="form-control" placeholder="Location">

      <button type="submit" class="btn btn-default">Search</button>

    </div>
  </form>

<!--<div class="row marketing">-->
  <!--<blockquote>-->
    <!--<p>-->
      <!--JobMine is great! Available 24 hours a day!-->
    <!--</p>-->
    <!--<small>Someone famous <cite>Anonymous</cite></small>-->
  <!--</blockquote>-->
<!--</div>-->
