<div ng-controller="ProfileCtrl">
  <!--<p>Select a tab by setting active binding to true:</p>-->
  <!--<p>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="active = 1">Select second tab</button>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="active = 2">Select third tab</button>-->
  <!--</p>-->
  <!--<p>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>-->
  <!--</p>-->

  <uib-tabset active="activeForm">
    <uib-tab index="0" heading="Profile">
      <br/>

      <div>
        <div>
          <!--<a class="pull-left" href="#">-->
          <a href="#">
            <img height="150px" width="150px" src="images/profile_buddy.jpg" alt="Buddy!">
          </a>

          <br/>
          <br/>

          <!-- TODO: cleanup icon CSS! create CSS for twitch icon -->
          <ul class="social-network social-circle">
            <li><a href="https://twitter.com/vsajja" class="ico icoTwitter" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i></a></li>
            <li>
              <a href="https://www.linkedin.com/in/vinod-sajja-19603717" class="ico icoLinkedin" title="Linkedin"
                 target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/vsajja" class="ico icoLinkedin" title="Github"
                 target="_blank">
                <i class="fa fa-github-alt git"></i>
              </a>
            </li>

            <li>
              <a href="https://www.twitch.tv/thepista" class="ico icoLinkedin" target="_blank">
                <i class="fa fa-twitch" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

          <div>
            General
            <ol>
              <li>UserId: 1</li>
              <li>Account Type: pleb, circle, square, star</li>
              <li>Username: vsajja</li>
              <li>Name: Vinod Sajja</li>
              <li>Location: Waterloo, ON, Canada</li>
              <li>Status: (last signed in 14 hours ago or online)</li>
              <li>Employment Status: Unemployed</li>
              <li>Karma: 0</li>
              <li>Views: 10</li>
              <li>Joined: October, 31, 2016</li>
              <li>Website: www.google.com</li>
              <li>Age: 29</li>
              <li>Gender: Male</li>
              <li>Current Salary: 0</li>
              <li>Relationship Status: Single</li>
              <li>Dreams: cure cancer</li>
              <li>Phone Number: (519) 502-XXXX</li>
            </ol>
          </div>

          <div>
            Buddies (0) / Buddied by (10)
            <ul>
              No Friends / [ Buddy 1, Buddy 2, .. Buddy 10]
            </ul>
          </div>
        
          <div>
            Recent Visitors:
            <ol>
              <li>Arnav (viewing)</li>
              <li>Lohit (viewing)</li>
              <li>Amr (viewing)</li>
              <li>Vasanth (2 sec ago)</li>
              <li>Rahal (1 hour ago)</li>
              <li>Andrew (2 days ago)</li>
              <li>Thong (3 days ago)</li>
              <li>Riaz (5 days ago)</li>
              <li>Jason (7 days ago)</li>
              <li>Donald (2 weeks ago)</li>
            </ol>
          </div>

          <div>
            Guestbook:
            <ol>
              <li>Last Comment: Rahal: keep going bro!</li>
              <li>View All Posts</li>
              <li>Post comment</li>
              <li>Lock guestbook</li>
            </ol>
          </div>

          <div>
            Employment History:
            <ol>
              <li>Software Developer II @ BlackBerry (Full-Time , 4 years, 3 months)</li>
              <li>Software Developer @ BlackBerry (Co-Op, 8 months)</li>
              <li>Application Developer @ Sybase iAnywhere (Co-Op, 8 months)</li>
              <li>Web Developer @ RBC (Co-Op, 8 months)</li>
              <li>Technical Systems Analyst @ RBC (Co-Op, 4 months)</li>
              <li>Salesperson @ Canada's Wonderland (Summers, 1 year 4 months)</li>
            </ol>
          </div>

          <div>
            Schools:
            <ol>
              <li>Computer Engineering @ University of Waterloo (6 years)</li>
              <li>CJW High School (4 years)</li>
              <li>Elia Middle School (? years), wait did I?</li>
              <li>Derrydown Public School (? years)</li>
            </ol>
          </div>

          <div>
            Skills:
            <ol>
              <li>Design</li>
              <li>Front-End</li>
              <li>Back-End</li>
              <li>Databases</li>
              <li>Scripting</li>
              <li>Mobile Apps</li>
            </ol>
          </div>

          <div>
            JobMine stats:
            <ol>
              <li>Interviews Missed: 0</li>
              <li>Applications: 0</li>
              <li>Interviews: 0</li>
              <li>Offers: 0</li>
            </ol>
          </div>

          <div>
            Showcase (awards/trophies/badges)
            <ol>
              <li>Business & Information Technology Award (High-School, CWJ)</li>
              <li>Waterloo ingenuity contest participant (made it sound good huh!)</li>
              <li>Fantasy Baseball NRU League Champ 2007, 2008, 2009, 2011</li>
              <li>Fantasy Baseball NRU League Silver 2016</li>
              <li>CEVO CSGO Open Season 2 Champion</li>
            </ol>
          </div>

          <div>
            Projects:
            <ol>
              <li>JobMine</li>
            </ol>
          </div>

          <div>
            Groups:
            <ol>
              <li>CWJ Tech Crew</li>
              <li>CWJ Concert Band</li>
            </ol>
          </div>

          <h1>privacy settings</h1>
      </div>
    </uib-tab>

    <uib-tab index="1" heading="Application Packages">
      <br/>
      Some Tab Content
    </uib-tab>
    <uib-tab index="2" heading="Applications">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="3" heading="Job Shortlist">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="4" heading="Interviews">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="5" heading="Offers">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="6" heading="Settings">
      <br/>

      <h2>update username</h2>

      <h2>update email</h2>

      <h2>update password</h2>

      <h2>deactivate account</h2>

      <h2>email notifications</h2>

      <h2>timezone</h2>

      <h2>privacy</h2>
      <!--<h2>Mobile text notifications</h2>-->
      <!--<h2>Language settings</h2>-->

    </uib-tab>

    <!--<uib-tab index="3" heading="Static title">Static content</uib-tab>-->
    <!--<uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">-->
    <!--{{tab.content}}-->
    <!--</uib-tab>-->
    <!--<uib-tab index="4" select="alertMe()">-->
    <!--<uib-tab-heading>-->
    <!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
    <!--</uib-tab-heading>-->
    <!--I've got an HTML heading, and a select callback. Pretty cool!-->
    <!--</uib-tab>-->
    <!--<uib-tab index="5" heading="Form Tab">-->
    <!--<form name="outerForm" class="tab-form-demo">-->

    <!--<ng-form name="nestedForm">-->
    <!--<div class="form-group">-->
    <!--<label>Name</label>-->
    <!--<input type="text" class="form-control" required ng-model="model.name"/>-->
    <!--</div>-->
    <!--</ng-form>-->
    <!--Model:-->
    <!--<pre>{{ model | json }}</pre>-->
    <!--Nested Form:-->
    <!--<pre>{{ outerForm.nestedForm | json }}</pre>-->

    <!--</form>-->
    <!--</uib-tab>-->
  </uib-tabset>
</div>
