<h1>profile</h1>

<div ng-controller="ProfileCtrl">
  <!--<p>Select a tab by setting active binding to true:</p>-->
  <!--<p>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="active = 1">Select second tab</button>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="active = 2">Select third tab</button>-->
  <!--</p>-->
  <!--<p>-->
  <!--<button type="button" class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>-->
  <!--</p>-->

  <uib-tabset active="activeForm">
    <uib-tab index="0" heading="Profile">
      <br/>

      <h2>id</h2>

      <h2>account type: premium, black</h2>

      <h2>last signed in</h2>

      <h2>display picture</h2>

      <h2>name</h2>

      <h2>badges</h2>

      <h2>age</h2>

      <h2>gender</h2>

      <h2>karma</h2>

      <h2>projects</h2>

      <h2>relationship status</h2>

      <h2>joined</h2>

      <h2>social facebook, linkedin, twitter, instagram, google+</h2>

      <h2>dreams, description</h2>

      <h2>skills</h2>

      <h2>school</h2>

      <h2>company</h2>

      <h2>location</h2>

      <h2>phone number</h2>

      <h2>views</h2>

      <h2>past employers / history</h2>

      <!-- TODO: nice to haves -->
      <!--<h2>recent visitors</h2>-->
      <!--<h2>buddy list</h2>-->
      <!--<h2>buddied by</h2>-->
      <!--<h2>guestbook</h2>-->
      <!--<h2>stats</h2>-->
      <!--<h2>forum posts</h2>-->
      <!--<h2>teams</h2>-->
    </uib-tab>
    <uib-tab index="1" heading="Application Packages">
      <br/>
      Some Tab Content
    </uib-tab>
    <uib-tab index="2" heading="Applications">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="3" heading="Job Shortlist">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="4" heading="Interviews">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="5" heading="Offers">
      <br/>
      More Tab Content
    </uib-tab>

    <uib-tab index="6" heading="Settings">
      <br/>

      <h2>update username</h2>

      <h2>update email</h2>

      <h2>update password</h2>

      <h2>deactivate account</h2>

      <h2>email notifications</h2>

      <h2>timezone</h2>

      <h2>privacy</h2>
      <!--<h2>Mobile text notifications</h2>-->
      <!--<h2>Language settings</h2>-->
      
    </uib-tab>

    <!--<uib-tab index="3" heading="Static title">Static content</uib-tab>-->
    <!--<uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">-->
    <!--{{tab.content}}-->
    <!--</uib-tab>-->
    <!--<uib-tab index="4" select="alertMe()">-->
    <!--<uib-tab-heading>-->
    <!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
    <!--</uib-tab-heading>-->
    <!--I've got an HTML heading, and a select callback. Pretty cool!-->
    <!--</uib-tab>-->
    <!--<uib-tab index="5" heading="Form Tab">-->
    <!--<form name="outerForm" class="tab-form-demo">-->

    <!--<ng-form name="nestedForm">-->
    <!--<div class="form-group">-->
    <!--<label>Name</label>-->
    <!--<input type="text" class="form-control" required ng-model="model.name"/>-->
    <!--</div>-->
    <!--</ng-form>-->
    <!--Model:-->
    <!--<pre>{{ model | json }}</pre>-->
    <!--Nested Form:-->
    <!--<pre>{{ outerForm.nestedForm | json }}</pre>-->

    <!--</form>-->
    <!--</uib-tab>-->
  </uib-tabset>
</div>
