<br/>
<br/>
<br/>
<br/>

<table st-table="rowCollection" st-safe-src="rowList" class="table table-striped">
  <tr>
    <!-- TODO: add dropdown, filter by location etc -->
    <th colspan="10"><input st-search="" class="form-control" placeholder="Filter results..."
                            type="text"/></th>
  </tr>
  <thead>
  <tr>
    <th></th>
    <th st-sort="name" class="st-sort-ascent">Name</th>
    <th st-sort="location" class="st-sort-ascent">Location</th>
    <th st-sort="school" class="st-sort-ascent">School</th>
    <th st-sort="company" class="st-sort-ascent">Company</th>
    <th st-sort="status" class="st-sort-ascent">Status</th>
    <th st-sort="dateJoined" class="st-sort-ascent">Joined</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">
    <!-- TODO: load icon -->
    <td>
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    </td>
    <td>{{row.name}}</td>
    <td>{{ row.city + ', ' + row.region + ', ' + row.country}}</td>
    <td>University of Waterloo</td>
    <td>Unemployed</td>
    <td>Looking</td>
    <td>{{row.datejoined | date}}</td>
  </tr>
  </tbody>
</table>
