<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
     close="closeAlert($index)">{{alert.msg}}
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Login</h4>
      </div>
      <div class="panel-body">
        <div class="box box-info">
          <div class="box-body">
            <!-- FORM -->
            <form ng-submit="loginStudent()">
              <!-- EMAIL -->
              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="email" ng-model="student.email" required>
                <span class="help-block"></span>
              </div>

              <!-- PASSWORD -->
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="password" ng-model="student.password" required>
                <span class="help-block"></span>
              </div>

              <!-- SUBMIT BUTTON -->
              <button type="submit" class="btn btn-success btn-lg btn-block">
                Login
              </button>
            </form>

            <br/>

            <textarea style="height:125px; resize: none;" cols="30" rows="10" name="description"
                      class="form-control">{{ student }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
