<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
     close="closeAlert($index)">{{alert.msg}}
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Student</h4>
  </div>
  <div class="panel-body">
    <div class="box box-info">
      <div class="box-body">
        <!-- FORM -->
        <form ng-submit="registerStudent()">
          <!-- USER NAME -->
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username..." ng-model="student.username" required>
            <span class="help-block"></span>
          </div>

          <!-- PASSWORD -->
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password..." ng-model="student.password" required>
            <span class="help-block"></span>
          </div>

          <!-- SUBMIT BUTTON -->
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

