<div class="panel panel-default">
  <div class="panel-heading">Student</div>
  <div class="panel-body">
    <div class="box box-info">
      <div class="box-body">
        <div class="col-sm-6">
          <div align="center">
            <!--<img alt="User Pic" src="images/student_profile_nobody.jpg" class="img-circle img-responsive">-->
            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
            <!--<div style="color:#999;">click here to change profile image</div>-->
          </div>
          <br>
        </div>

        <div class="clearfix"></div>
        <hr style="margin:5px 0 5px 0;">

        <div class="col-sm-5 col-xs-6 tital "><strong>Id</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.studentId}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital "><strong>Username</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.username}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <!--<div class="col-sm-5 col-xs-6 tital "><strong>Email</strong></div>-->
        <!--<div class="col-sm-7 col-xs-6 ">{{student.emailAddress}}</div>-->
        <!--<div class="clearfix"></div>-->
        <!--<div class="bot-border"></div>-->

        <div class="col-sm-5 col-xs-6 tital "><strong>Status</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.employmentStatus}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <!--<div class="col-sm-5 col-xs-6 tital "><strong>Phone</strong></div>-->
        <!--<div class="col-sm-7 col-xs-6 ">{{student.phoneNumber}}</div>-->
        <!--<div class="clearfix"></div>-->
        <!--<div class="bot-border"></div>-->

        <div class="clearfix"></div>
        <hr style="margin:5px 0 5px 0;">

        <div class="col-sm-5 col-xs-6 tital "><strong>Joined</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.joinedTimestamp | date}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital "><strong>Last seen</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.lastLoggedinTimestamp | date}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital "><strong>Karma</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.karma}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="col-sm-5 col-xs-6 tital "><strong>Total Views</strong></div>
        <div class="col-sm-7 col-xs-6 ">{{student.totalViews}}</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>

        <div class="clearfix"></div>
        <hr style="margin:5px 0 5px 0;">

        <div class="col-sm-5 col-xs-6 tital "><strong>Created by</strong></div>
        <div class="col-sm-7 col-xs-6 ">job</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Schools</div>
  <div class="panel-body">
    <i class="fa fa-graduation-cap fa-2x" aria-hidden="true">University of Waterloo</i>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Employment History</div>
  <div class="panel-body">
    <div><i class="fa fa fa-building fa-2x" aria-hidden="true">NovAtel</i></div>
    <div><i class="fa fa fa-building fa-2x" aria-hidden="true">BlackBerry</i></div>
    <!--{{student.employmentHistory}}-->
  </div>
</div>

<uib-tabset active="activeForm" style="height: 300px">
  <uib-tab index="1" heading="Applications">
    <br/>
    <!--applied to job1 job2 job3-->
  </uib-tab>

  <uib-tab index="2" heading="Shortlist">
    <br/>
    <!--like job1 job2 job3-->
  </uib-tab>

  <uib-tab index="4" heading="Interviews">
    <br/>
    <!--job interviews for job1 and job2-->
  </uib-tab>

  <uib-tab index="5" heading="Offers">
    <br/>
    <!--job offers from job1-->
  </uib-tab>

  <uib-tab index="6" heading="Settings">
    <!--<p>update username</p>-->
    <!--<p>update email</p>-->
    <!--<p>update password</p>-->
    <!--<p>deactivate account</p>-->
    <!--<p>email notifications</p>-->
    <!--<p>timezone</p>-->
    <!--<p>privacy</p>-->
    <!--<p>Mobile text notifications</p>-->
    <!--<p>Language settings</p>-->
  </uib-tab>
</uib-tabset>
