<app-header></app-header>

<div style="min-height: 600px">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <hr/>
  <footer class="footer text-center">
    <div>
      <a disabled=""><i
        class="fa fa-android fa-3x" aria-hidden="true"></i></a>
      <a disabled=""><i
        class="fa fa-apple fa-3x" aria-hidden="true"></i></a>
    </div>
    <span class="text-muted">
      <!--<a href="">Privacy</a> |-->
      <!--<a href="">Terms</a> |-->
      <!--<a href="#/jobs">Careers</a> |-->
      <!--<a href="#/settings">Developers</a> |-->
      <!--<a href="https://jobmineteam.slack.com/messages/jobmine" target="_blank">Slack</a> |-->
      <!--<a href="#/companies/1">About</a>-->
      <p>&copy; 2017 job v{{version}}</p>

    </span>
  </footer>
</div>

